@charset "utf-8";
@charset "UTF-8";
.sectionCliente{
    margin: 10px 1px 10px 1px;
}
#bac{
    margin: 0px;
    font-size: 10pt;
    border-radius: 5px;
    padding: 7px;
    font-weight: bold;
    color: #2b2b2bba;
}

.filtro{
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.form-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
.form-item{
    margin: 2px;
    margin-bottom: 4px;
    margin-top: 4px;
    flex: 1 1 300px;
}
label{
    font-size: 10.5pt;
    margin-bottom: 0px;
    margin-top: 0px;
}
.flex-filtro{
    display: flex;
    margin-top: 10px;
}
.form-control{
    font-size: 10.5pt;
    height: 30px;
    font-size: 11pt;
    border-radius: 5px;
    border: 1px solid #81818192;
}
#cadEdit .form-control{
    border-radius: 0px 5px 5px 0px;
}
.form-control:focus{
    box-shadow: none;
    border: solid 1px #2b65c2;;
}
/*Icones de erro e sucesso da sessão filtros*/
.form-item{
    position: relative;
}
.form-item i {
    position: absolute;
    top: 33px;
    right: 4px;
}
.form-item i#nomeISuc{
    color: #3ffc3fca;
    opacity: 0;
}
.form-item i#cpfISuc{
    color: #3ffc3fca;
    opacity: 0;
}
.form-item i#emailISuc{
    color: #3ffc3fca;
    opacity: 0;
}
.form-item i#nomeIError{
    color:  #ff3535dc;
    opacity: 0;
}
.form-item i#cpfIError{
    color:  #ff3535dc;
    opacity: 0;
}
.form-item i#emailIError{
    color:  #ff3535dc;
    opacity: 0;
}
.form-item small{
    position: absolute;
    top: 60px;
    left: 1px;
    color: #ff0000;
    font-size: 9pt;
}
/*Icones de erro e sucesso da sessão modal cliente*/
.form-it .i i{
    position: absolute;
    top: 7px;
    right: 20px;
    opacity: 0;
}
.form-it .i small{
    position: absolute;
    top: 27px;
    right: 15px;
    font-size: 9pt;
    color: red;
}
.form-it i#SucNom{
    color: #3ffc3fca;
    opacity: 0;
}
.form-it i#SucDate{
    color: #3ffc3fca;
    right: 47px;
    opacity: 0;
}
.form-it i#SucCpf{
    color: #3ffc3fca;
    opacity: 0;
}
.form-it i#SucRg{
    color: #3ffc3fca;
    opacity: 0;
}
.form-it i#SucEmail{
    color: #3ffc3fca;
    opacity: 0;
}
.form-it i#SucTel{
    color: #3ffc3fca;
    opacity: 0;
}
.form-it i#SucMae{
    color: #3ffc3fca;
    opacity: 0;
}
.form-it i#SucCep{
    color: #3ffc3fca;
    opacity: 0;
}
.form-it i#SucRes{
    color: #3ffc3fca;
    opacity: 0;
}
.form-it i#SucComple{
    color: #3ffc3fca;
    opacity: 0;
}
.form-it i#SucLog{
    color: #3ffc3fca;
    opacity: 0;
}
.form-it i#SucBar{
    color: #3ffc3fca;
    opacity: 0;
}
.form-it i#SucCid{
    color: #3ffc3fca;
    opacity: 0;
}
.form-it i#SucEstado{
    color: #3ffc3fca;
    opacity: 0;
}
.form-it i#ErroNom{
    color:  #ff3535dc;
    opacity: 0;
}
.form-it i#ErroDate{
    color:  #ff3535dc;
    right: 47px;
    opacity: 0;
}
.form-it i#ErroCpf{
    color:  #ff3535dc;
    opacity: 0;
}
.form-it i#ErroRg{
    color:  #ff3535dc;
    opacity: 0;
}
.form-it i#ErroEmail{
    color:  #ff3535dc;
    opacity: 0;
}
.form-it i#ErroTel{
    color:  #ff3535dc;
    opacity: 0;
}
.form-it i#ErroMae{
    color:  #ff3535dc;
    opacity: 0;
}
.form-it i#ErroCep{
    color:  #ff3535dc;
    opacity: 0;
}
.form-it i#ErroRes{
    color:  #ff3535dc;
    opacity: 0;
}
.form-it i#ErroLog{
    color:  #ff3535dc;
    opacity: 0;
}
.form-it i#ErroComple{
    color:  #ff3535dc;
    opacity: 0;
}
.form-it i#ErroBar{
    color:  #ff3535dc;
    opacity: 0;
}
.form-it i#ErroCid{
    color:  #ff3535dc;
    opacity: 0;
}
.form-it i#ErroEstado{
    color:  #ff3535dc;
    opacity: 0;
}
/*Sobre a sessão de controle de clientes/*/
.clientes{
    padding: 10px;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.flex-btn{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -50px;
}
.flex-item{
    margin: 10px;
    padding: 0;
}

.filtrar_btn{
    font-size: 9pt;
    padding: 7px;
    border: none;
    width: 110px;
    margin-bottom: 55px;
    color: white;
    background-color: #2b65c2;
    transition: 01s;
}
.filtrar_btn:hover{
    color: white;
    background-color: #0091ff;
}

.filtrar_btn2{
    padding: 7px;
    border: none;
    font-size: 9pt;
    width: 110px;
    margin-bottom: 55px;
    background-color: #ff0000d2;
    transition: 0.4s;
}
.filtrar_btn2:hover{
    background-color: #ff0000fe;
}

.modal-header{ 
    background-color: #fbfbfb;
}
.form-it{
    padding-bottom: 6px;
}
.paiAlert{
    margin-top: 2px;
    display: flex;
    justify-content: center;
    height: 4px;
}
.alert-danger{
    display: flex;
    justify-content: center;
    padding: 2px;
    height: 30px;
    position: relative;
    text-align: center;
    font-size: 11pt;
    opacity: 0;
    transition: 1s;
}
.modal-title{
    font-weight: normal;
}
.col-md-12, .col-md-6{
    margin-bottom: 10px;
}
.table{
    background-color: #ffff;
    border: 1px solid black;
}
/*Caixa de entrada de usuário*/
.input-group-prepend span {
    background-color: #2b65c2;
    color: #ffffff;
    border: 0 !important;
    width: 40px;
}
input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}
.row-hover:hover{
    background-color: #dedede;
}
.link{
    margin: 10px;
    color: #3497e3;
}
.btn-ende{
    text-align: center;
    padding: 7px;
    border: none;
    font-size: 9pt;
    width: 135px;
    transition: 0.4s;
    background-color: #2b65c2;
}
.btn-ende:hover{
    background-color: #0091ff;
}
#janelaModalConfirm {
    margin-top: 5px;
    background-color: #0000003b;
}
.modal-footer{
    padding-top: 57px;
    height: 50px;
}
thead{
    color: #ffffffea;
    text-align: center;
    background-image: url(Imagens/backMenu.jpeg);
}
th{
    font-size: 10pt;
    border: 1px solid #b5b5b5;
    text-align: center;
    padding: 0;
}
td{
    font-size: 10pt;
    border: 1px solid #b5b5b5;
    text-align: center;
    padding: 0;
}
.pagination{
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.page-link{
    text-align: center;
    align-items: center;
}

@media(min-width: 0px){
    .flex-filtro{
        justify-content: center;
    }
    .table{
        width: 85%;
        align-content: center;
        justify-content: center;
    }
    .flex-btn{
        justify-content: center;
    }
    .clientes{
        flex-direction: auto;
    }
    .page-link{
        width: 12vh;
        font-size: 9pt;
    }
}
@media(min-width: 768px){
    .clientes{
        flex-direction: column;
    }
    .page-link{
        width: 20vh;
        font-size: 10pt;
    }
}
@media(min-width: 941px){
    .flex-filtro{
        justify-content: flex-end;
    }
    .flex-btn{
        justify-content: flex-end;
        width: 98.3%;
    }
    .table{
        width: 97.3%;
    }
    #janelaModalConfirm {
        margin-top: -20px;
    }
    .page-link{
        width: 22vh;
        font-size: 11pt;
    }
}
@media(min-width: 1170px){
    .flex-btn{
        width: 84.2%;
    }
    .table{
        width: 83.4%;
    }
}