@charset "UTF-8";
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.navbar{
    background-image: url(Imagens/backMenu.jpeg);

}
#sidebarCollapse{
    border: 1px solid #ffffff;
    background-color: #ffffff00;
}
.linkMenu{
    color: #ffffff;
    transition: 0.7s;
}
.linkMenu:hover{
    color: #00ffff;
}
.linha:hover span{
    color: #00ffff;
}
#selectPag{
    color: #00ffff;
}
@media(min-width: 108px){
   .navbar-transparent{
    height: auto;
    padding: 4px 4px 4px 4px;
   }
   .navbar-nav {
    margin-top: 5px;
    border-radius: 10px;
    text-align: center;
    background-color: #3205e878;
    }
    .navbar-nav:hover{
        color: black;
    }
}
@media(min-width: 770px){
    .navbar-transparent{
     height: 90px;
     padding: 54px 4px 54px 4px;
    }
    .navbar-nav{
        background-color: #24292f00;
        border: none;
    }
 }