@model Relatorio
<section class="principais">
    <br> <br> <br> <br>
    <p>Em fase de desenvolvimento pela TechSolutions LTDA.</p>
    <br><br>
</section>
<section class="principais">
    <br> <br> <br> <br>
    <p><b>Valor monetário total de todos contratos aprovados: </b>R$ @Html.DisplayFor(x => x.ValorMonetarioTotal)</p>
    <br><br>
</section>