@charset "utf-8";
@charset "UTF-8";

.sectionCliente {
    margin: 1px 1px 1px 1px;
}

#bac {
    margin: 0px;
    font-size: 10pt;
    border-radius: 5px;
    padding: 2px;
    font-weight: bold;
    color: #2b2b2bba;
}
.titleModal {
    margin: 0px;
    font-size: 11pt;
    font-family: 'Poppinns', sans-serif;
}
.view{
    color: black;
}
.filtro {
    margin-top: 0px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.form-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.form-item {
    margin: 2px;
    margin-bottom: 4px;
    margin-top: 4px;
    flex: 1 1 300px;
}

label {
    font-size: 10.5pt;
    margin-bottom: 0px;
    margin-top: 0px;
}

.flex-filtro {
    display: flex;
    margin-top: 10px;
}

.form-control {
    font-size: 10.5pt;
    height: 32px;
    font-size: 11pt;
    border-radius: 5px;
    border: 1px solid #81818192;
}

input#form-control {
    min-width: 250px;
}

#cadEdit .form-control {
    border-radius: 0px 5px 5px 0px;
}

.form-control:focus {
    box-shadow: none;
    border: solid 1px #2b65c2;
    ;
}
/*Icones de erro e sucesso da sessão filtros*/
.form-item {
    position: relative;
}

    .form-item i {
        position: absolute;
        top: 33px;
        right: 4px;
    }

        .form-item i#nomeISuc {
            color: #3ffc3fca;
            opacity: 0;
        }

        .form-item i#cpfISuc {
            color: #3ffc3fca;
            opacity: 0;
        }

        .form-item i#emailISuc {
            color: #3ffc3fca;
            opacity: 0;
        }

        .form-item i#nomeIError {
            color: #ff3535dc;
            opacity: 0;
        }

        .form-item i#cpfIError {
            color: #ff3535dc;
            opacity: 0;
        }

        .form-item i#emailIError {
            color: #ff3535dc;
            opacity: 0;
        }

    .form-item small {
        position: absolute;
        top: 60px;
        left: 1px;
        color: #ff0000;
        font-size: 9pt;
    }
/*Icones de erro e sucesso da sessão modal cliente*/
.form-it .i i {
    position: absolute;
    top: 7px;
    right: 20px;
    opacity: 0;
}

.form-it .i small {
    position: absolute;
    top: 29px;
    right: 15px;
    font-size: 9pt;
    color: red;
}

/*Sobre a sessão de controle de clientes/*/
.clientes {
    padding: 10px;
    padding-top: 0px;
    margin: auto;
    margin-top -10px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.flex-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-item {
    width: 100%;
    display: flex;
    margin: 10px;
    margin-left: 0px;
    padding: 0;
}

.filtra_btn {
    font-size: 9pt;
    padding: 8px;
    border: none;
    margin-bottom: 55px;
    color: white;
    background-color: #2b65c2;
    transition: 01s;
}

    .filtra_btn:hover {
        color: white;
        background-color: #0091ff;
    }

.filtrar_btn {
    font-size: 9pt;
    padding: 7px;
    border: none;
    width: 115px;
    color: white;
    background-color: #2b65c2;
    transition: 01s;
}

    .filtrar_btn:hover {
        color: white;
        background-color: #0091ff;
    }
.enum{
    background-color: purple;
}
.filtrar_btn2 {
    padding: 8px;
    border: none;
    margin-bottom: 55px;
    background-color: #ff0000d2;
    transition: 0.4s;
}

    .filtrar_btn2:hover {
        background-color: #ff0000fe;
    }

.api {
    background-color: #0099f2db;
}

.modal-header {
    background-color: #fbfbfb;
}

.form-it {
    padding-bottom: 6px;
}

.paiAlert {
    margin-top: 2px;
    display: flex;
    justify-content: center;
    height: 4px;
    opacity: 0;
}

.alert-danger {
    display: flex;
    position: relative;
    text-align: center;
    font-size: 11pt;
    transition: 1s;
}

.modal-title {
    font-weight: normal;
}

.col-md-12, .col-md-6 {
    margin-bottom: 10px;
}

.table {
    background-color: #ffff;
    border: 1px solid black;
}
/*Caixa de entrada de usuário*/
.input-group-prepend span {
    background-color: #2b65c2;
    color: #ffffff;
    border: 0 !important;
    width: 40px;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.row-hover:hover {
    background-color: #dedede;
}

.link {
    margin: 10px;
    color: #3497e3;
}

.btn-ende {
    text-align: center;
    padding: 7px;
    border: none;
    transition: 0.4s;
    background-color: #2b65c2;
}

    .btn-ende:hover {
        background-color: #0091ff;
    }

#janelaModalConfirm {
    margin-top: 5px;
    background-color: #0000003b;
}

.modal-footer {
    width: 100%;
    padding-top: 57px;
    margin-bottom: 1px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

thead {
    color: #ffffffea;
    text-align: center;
    background-image: url(Imagens/backMenu.jpeg);
}

th {
    font-size: 10pt;
    border: 1px solid #b5b5b5;
    text-align: center;
    padding: 0;
}

td {
    font-size: 10pt;
    border: 1px solid #b5b5b5;
    text-align: center;
    padding: 0;
}

.pagination {
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.page-link {
    text-align: center;
    align-items: center;
}

@media(min-width: 0px) {
    .flex-filtro {
        justify-content: center;
    }
    .flex-item{
        justify-content: center;
    }
    .table {
        width: 85%;
        align-content: center;
        justify-content: center;
    }

    .flex-btn {
        justify-content: center;
    }

    .clientes {
        flex-direction: auto;
    }

    .page-link {
        width: 12vh;
        font-size: 9pt;
    }

    .filtro {
        width: 85%;
    }
    #formAdd {
        width: 100%;
    }
    .filtra_btn, .filtrar_btn2 {
        width: 105px;
        font-size: 8pt;
    }
}
@media(min-width: 510px){
    .filtra_btn, .filtrar_btn2 {
        width: 115px;
    }
}
@media(min-width: 768px) {
    .clientes {
        flex-direction: column;
    }

    .page-link {
        width: 20vh;
        font-size: 10pt;
    }
    .filtra_btn, .filtrar_btn2 {
        width: 125px;
        font-size: 9.5pt;
    }
}

@media(min-width: 941px) {
    .filtro {
        width: 80%;
    }
    .flex-item {
        justify-content: space-between;
    }
    .flex-filtro {
        justify-content: flex-end;
    }

    .flex-btn {
        justify-content: flex-end;
        width: 88.3%;
    }

    .table {
        width: 87.3%;
    }

    #janelaModalConfirm {
        margin-top: -20px;
    }

    .page-link {
        width: 22vh;
        font-size: 11pt;
    }
}

@media(min-width: 1170px) {
    .flex-btn {
        width: 78.2%;
    }

    .table {
        width: 77.5%;
    }
}
