@charset "UTF-8";
body{
    overflow-x: hidden;
}

/*EXCLUIR O OPACITY 0 NO MOMENTO QUE IMPLEMENTAR AS AÇÕES DOS ÍCONES*/
.form-it .i i{
    position: absolute;
    top: 7px;
    right: 20px;
    opacity: 0;
}
.sectionUsuario{
    margin: 10px 1px 10px 1px;
}
#bac{
    margin: 0px;
    font-size: 10.5pt;
    border-radius: 2px;
    padding: 7px;
    font-weight: bold;
    color: #2b2b2bba;
}
.filtro{
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.form-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
.form-item{
    margin: 2px;
    flex: 1 1 300px;
}
label{
    font-size: 10.5pt;
    margin-bottom: 0px;
    margin-top: 0px;
}
.flex-filtro{
    display: flex;
    margin-top: 10px;
}
.form-control{
    font-size: 10.5pt;
    height: 30px;
    font-size: 11pt;
    border-radius: 5px;
    border: 1px solid #81818192;
}
#cadEdit .form-control{
    border-radius: 0px 5px 5px 0px;
}
.form-control:focus{
    box-shadow: none;
    border: solid 1px #2b65c2;;
}
/*Sobre a sessão de controle de clientes/*/
.funcionarios{
    padding: 10px;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.flex-btn{
    display: flex;
    flex-wrap: wrap;
}
.flex-item{
    margin: 10px;
    padding: 0;
}
.filtra_btn {
    font-size: 9pt;
    padding: 7px;
    border: none;
    width: 110px;
    margin-bottom: 55px;
    color: white;
    background-color: #2b65c2;
    transition: 01s;
}

    .filtra_btn:hover {
        color: white;
        background-color: #0091ff;
    }
.filtrar_btn{
    font-size: 9pt;
    padding: 7px;
    border: none;
    width: 110px;
    color: white;
    background-color: #2b65c2;
    transition: 01s;
}
.filtrar_btn:hover{
    color: white;
    background-color: #0091ff;
}
.filtrar_btn2{
    color: white;
    padding: 7px;
    border: none;
    font-size: 9pt;
    width: 110px;
    margin-bottom: 55px;
    background-color: #ff0000d2;
    transition: 0.4s;
}
.filtrar_btn2:hover{
    color: white;
    background-color: #ff0000fe;
}
.api {
    background-color: #0099f2db;
}
.filtrar_habilitar{
    font-size: 9pt;
    padding: 7px;
    border: none;
    width: 110px;
    margin-bottom: 55px;
    color: white;
    background-color: #0099f2db;
    transition: 01s;
}
.filtrar_habilitar:hover{
    color: white;
    background-color: #0091ff;
}
/*Modal*/
.modal-header{ 
    background-color: #fbfbfb;
}
.modal-title{
    font-weight: normal;
}
.col-md-12, .col-md-6{
    margin-bottom: 10px;
}
.row{
    margin-top: 0px;
}
/*Caixa de entrada de usuário*/
.input-group-prepend span {
    width: 40px;
    background-color: #2b65c2;
    color: #ffffff;
    border: 0 !important;
}
input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;

}
.form-control{
    border: 1px solid #7a797970;
    border-radius: 5px;
}
.btn-ende{
    text-align: center;
    padding: 7px;
    border: none;
    font-size: 9pt;
    width: 135px;
    transition: 0.4s;
    background-color: #2b65c2;
}
.btn-ende:hover{
    background-color: #0091ff;
}
.table{
    background-color: #ffff;
    border: 1px solid black;
}
thead{
    color: #ffffffea;
    text-align: center;
    background-image: url(Imagens/backMenu.jpeg);
}
th{
    font-size: 10pt;
    border: 1px solid #b5b5b5;
    text-align: center;
    padding: 0;
}
td{
    font-size: 10pt;
    border: 1px solid #b5b5b5;
    text-align: center;
    padding: 0;
}
.row-hover:hover{
    background-color: #dedede;
}
.link{
    color: #3497e3;
}
.link{
    margin: 10px;
}
#janelaModalConfirm {
    margin-top: 10px;
    background-color: #0000003b;
}
.modal-footer {
    width: 100%;
    padding-top: 57px;
    margin-bottom: 1px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.left-hab{
    justify-content: flex-end;
}
.pagination{
    margin-top: -10px;
    display: flex;
    justify-content: center;
}
.page-link{
    text-align: center;
    align-items: center;
}

@media(min-width: 0px){
    .flex-filtro{
        justify-content: center;
    }
    .table{
        width: 85%;
        align-content: center;
        justify-content: center;
    }
    .flex-btn{
        justify-content: center;
    }
    .page-link{
        width: 12vh;
        font-size: 9pt;
    }
    .filtro{
        width: 85%;
    }
}
@media(min-width: 768px){
    .funcionarios{
        flex-direction: column;
    }
    .page-link{
        width: 20vh;
        font-size: 10pt;
    }
}
@media(min-width: 941px){
    .filtro{
        width: 80%;
    }
    .flex-filtro{
        justify-content: flex-end;
    }
    .flex-btn{
        justify-content: flex-end;
        width: 98.3%;
    }
    .table{
        width: 97.3%;
    }
    #janelaModalConfirm {
        margin-top: -20px;
    }
    .page-link{
        width: 22vh;
        font-size: 11pt;
    }
}
@media(min-width: 1170px){
    .flex-btn{
        width: 79.2%;
    }
    .table{
        width: 78.2%;
    }
}