@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.navbar {
    background-image: url(Imagens/backMenu.jpeg);
}
.upercase{
    color: white;
    text-transform: uppercase;
}
.dropdown-menu{
    padding: 5px;
    border-radius: 4px;
}
/*Sobre a sessão de controle de clientes/*/
.principais {
    width: 90%;
    padding: 15px;
    padding-top: 0px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.card {
    margin: auto;
    background-color: transparent;
    margin-bottom: 15px;
    border-radius: 0px;
}
.card-title {
    font-size: 11pt;
    font-style: italic;
    font-weight: normal;
    color: #2b2b2bba;
}
.card-text{
    text-align: justify;
    font-size: 10pt;
}
.btn-outline-primary {
    background-color: aliceblue;
    font-size: 9pt;
    padding: 5px;
    width: 115px;
    transition: 01s;
}

#janelaModalConfirm {
    margin-top: 5px;
    background-color: #0000003b;
}
#titlePrincipal {
    width: 100%;
    margin: 0px;
    margin-top: 5px;
    font-size: 11pt;
    border-radius: 5px;
    padding: 2px;
    font-weight: normal;
    color: #2b2b2bba;
}

.foote {
    width: 100%;
    padding-top: 57px;
    margin-bottom: 1px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.btn-senha {
    color: white;
    background-color: deepskyblue;
    margin-bottom: 55px;
    font-size: 10pt;
    padding: 5px;
    width: 100%;
    transition: 01s;
}

    .btn-senha:hover {
        color: white;
        background-color: rgb(0, 123, 255);
    }

.alert {
    min-width: 250px;
    padding: 10px;
    top: 92px;
    right: 76px;
    position: absolute;
}
.close-alert {
    position: absolute;
    right: -10px;
    top: -15px;
    text-align: center;
    border-radius: 35px;
    border: 1px solid #72a67e;
    color: black;
    width: 30px;
    height: 31px;
    transition: 0.5s;
}
.sucesso {
    background-color: seagreen;
    border: none;
    color: white;
}

    .sucesso:hover {
        border: none;
        background-color: darkgreen;
    }

.erro {
    background-color: #F14E55;
    color: white;
    border: none;
}

    .erro:hover {
        border: none;
        background-color: #CA0009;
    }

#sidebarCollapse {
    border: 1px solid #ffffff;
    background-color: #ffffff00;
}

.linkMenu {
    color: #ffffff;
    transition: 0.7s;
}

    .linkMenu:hover {
        color: #00ffff;
    }

.linha:hover span {
    color: #00ffff;
}

#selectPag {
    color: #00ffff;
}

@media(min-width: 108px) {
    .navbar-transparent {
        height: auto;
        padding: 4px 4px 4px 4px;
    }

    .navbar-nav {
        margin-top: 5px;
        border-radius: 10px;
        text-align: center;
        background-color: #3205e878;
    }

        .navbar-nav:hover {
            color: black;
        }
}
@media(min-width: 550px){
    .alert {
        width: 350px;
    }
}
@media(min-width: 770px) {
    .navbar-transparent {
        height: 90px;
        padding: 54px 4px 54px 4px;
    }

    .navbar-nav {
        background-color: #24292f00;
        border: none;
    }
}
